.main_apply_div{
    border: 1px solid rgb(28, 130, 173);
    width:35%;
    height: 39rem;
    border-radius: 10px;
    padding: 0.5rem;
 }
 .main_apply_div h2{
    margin-bottom: 0.3rem;
 }
 .multi_input_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.multi_input{
    border: 1px solid rgb(28, 130, 173);
    padding: 0.2rem;
    width: 48%;
    border-radius: 6px;
    height: 1.8rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
.multi_input:focus{
    outline: none;
}
.com{
    display: flex;
    flex-direction: column;
    
}
.main_com{
    display: flex;
    
}