.main_courses_div{
    padding: 0rem;
}
.main_courses_div h1{
    margin: 1rem 0rem;
    color: rgb(28, 130, 173);
    text-align: center;
    font-size: 22px;
}

.main_courses_divp{
    color: orange;
    text-align: center;
    font-size: 16px;
}

.flex_div_courses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* .main_courses_div:hover{
    color: gray;
} */