.Maincontainer{
    padding-top: 4.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}
.home_main{
    width: 100%;

}
.slie_img_div img{
    height: 30rem;
}


@media screen and (max-width: 780px) {
    .margin{
        margin-right: 0%;
    }
    .home_main{
        width: 100%;
        margin-top: 3rem;
    }
    .slie_img_div img{
        height: 30rem;
        height: 10rem;
    }
    .Maincontainer{
        padding-top: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0rem;
        padding-right: 0rem;
    }
 }