.Export_data_div {
    display: flex;
    /* width: 50%; */
    align-items: center;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}
.Export_data_div button{
    background-color:rgb(28, 130, 173);
    color: white;
    border: navajowhite;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 40px;
    width: 13rem;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 2rem;
}
.Export_data_div img{
    width:2.5rem;

}

.Export_data_divimg{
    width:2.5rem;
    margin-right: 1rem;

}

.Export_data_div input{
    border: 1px solid rgb(28, 130, 173);
    margin-right: 8%;
    width: 100%;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5px;
}

.main_add_btnn_div_enquriy {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    width: 100%;
}

@media screen and (max-width: 780px) {
    .main_add_btnn_div_enquriy {
        display: block;
        justify-content: space-between;
        padding-right: 1rem;
        width: 100%;
    }
}